<div class="primeraMayus">
  
   <h2>Mayúscula la primera letra de cada palabra:</h2>
   <h3>Primer ejemplo: </h3>
   <p><strong>Entrada:</strong></p>
   <p> {{pruebaMayus1}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{pruebaMayus1 | primeraMayus}} </p>
   
   <h3>Segundo ejemplo: </h3>
   <p><strong>Entrada:</strong></p>
   <p> {{pruebaMayus2}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{pruebaMayus2 | primeraMayus}} </p>
   
   
   <h3>Ejemplo tiempo real: </h3>
   <input type="string" [(ngModel)]="inputMayus2">
   <label>{{inputMayus2 | primeraMayus}}</label>

</div>
<hr>

<div class="fechaConexion">
  
   <h2>Texto basado en una fecha:</h2>
   <h3>1. Primer ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{fechaConexion1}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{fechaConexion1 | fechaConexion}} </p>
   
   <h3>2. Segundo ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{fechaConexion2}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{fechaConexion2 | fechaConexion}} </p>

   <h3>3. Tercer ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{fechaConexion3}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{fechaConexion3 | fechaConexion}} </p>
   
   <h3>4. Cuarto ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{fechaConexion4}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{fechaConexion4 | fechaConexion}} </p>

   <h3>5. Quinto ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{fechaConexion5}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{fechaConexion5 | fechaConexion}} </p>
   
   <h3>6. Sexto ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{fechaConexion6}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{fechaConexion6 | fechaConexion}} </p>

   <h3>7. Septimo ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{fechaConexion7}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{fechaConexion7 | fechaConexion}} </p>
   
   <h3>8. Octavo ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{fechaConexion8}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{fechaConexion8 | fechaConexion}} </p>

   <h3>9. Noveno ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{fechaConexion9}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{fechaConexion9 | fechaConexion}} </p>
   
   <h3>10. Decimo ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{fechaConexion10}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{fechaConexion10 | fechaConexion}} </p>

   <h3>11. Once ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{fechaConexion11}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{fechaConexion11 | fechaConexion}} </p>
   
   <h3>12. Doce ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{fechaConexion12}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{fechaConexion12 | fechaConexion}} </p>

   <h3>13. Trece ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{fechaConexion13}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{fechaConexion13 | fechaConexion}} </p>
   
   <h3>14. Catorce ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{fechaConexion14}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{fechaConexion14 | fechaConexion}} </p>

</div>

<hr>
<div class="cuadrado">
  
   <h2>Número elevado al cuadrado:</h2>
   <h3>Primer ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{numeroCuadrado1}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{numeroCuadrado1 | numeroCuadrado}} </p>
   
   <h3>Segundo ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{numeroCuadrado2}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{numeroCuadrado2 | numeroCuadrado}} </p>

   <h3>Ejemplo tiempo real: </h3>
   <input type="number" [(ngModel)]="inputNumber">
   <label>{{inputNumber | numeroCuadrado}}</label>
</div>
<hr>
<div class="textoAlternado">
  
   <h2>Texto alternado:</h2>
   <h3>Primer ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{textoAlternado1}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{textoAlternado1 | mayusAlter}} </p>
   
   <h3>Segundo ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{textoAlternado2}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{textoAlternado2 | mayusAlter}} </p>

   <h3>Ejemplo tiempo real:</h3>
   <input type="string" [(ngModel)]="inputTexto">
   <label>{{inputTexto | mayusAlter}}</label>
</div>