<div class="primeraMayus">
  
   <h2>Mayúscula la primera letra de cada palabra:</h2>
   <h3>Primer ejemplo: </h3>
   <p><strong>Entrada:</strong></p>
   <p> {{pruebaMayus1}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{pruebaMayus1 | primeraMayus}} </p>
   
   <h3>Segundo ejemplo: </h3>
   <p><strong>Entrada:</strong></p>
   <p> {{pruebaMayus2}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{pruebaMayus2 | primeraMayus}} </p>
   
   
   <h3>Ejemplo tiempo real: </h3>
   <input type="string" [(ngModel)]="inputMayus2">
   <p>{{inputMayus2 | primeraMayus}}</p>

</div>