<div class="primeraMayus">
  
   <h2>Mayúscula la primera letra de cada palabra:</h2>
   <h3>Primer ejemplo: </h3>
   <p><strong>Entrada:</strong></p>
   <p> {{pruebaMayus1}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{pruebaMayus1 | primeraMayus}} </p>
   
   <h3>Segundo ejemplo: </h3>
   <p><strong>Entrada:</strong></p>
   <p> {{pruebaMayus2}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{pruebaMayus2 | primeraMayus}} </p>
   
   
   <h3>Ejemplo tiempo real: </h3>
   <input type="string" [(ngModel)]="inputMayus2">
   <p>{{inputMayus2 | primeraMayus}}</p>

</div>

<div class="fechaConexion">
  
   <h2>Texto basado en una fecha:</h2>
   <h3>Primer ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{fechaConexion1}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{fechaConexion1 | fechaConexion}} </p>
   
   <h3>Segundo ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{fechaConexion2}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{fechaConexion2 | fechaConexion}} </p>
</div>

<div class="cuadrado">
  
   <h2>Número elevado al cuadrado:</h2>
   <h3>Primer ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{numeroCuadrado1}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{numeroCuadrado1 | numeroCuadrado}} </p>
   
   <h3>Segundo ejemplo: </h3>
   <p><strong>Entrada:</strong></p> 
    <p> {{numeroCuadrado2}} </p>
   <p><strong>Salida:</strong></p>
   <p> {{numeroCuadrado2 | numeroCuadrado}} </p>

   <h3>Ejemplo tiempo real: </h3>
   <input type="number" [(ngModel)]="inputNumber">
   <p>{{inputNumber | numeroCuadrado}}</p>
</div>